<html>
    <head>
        <title>Ryon Products</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <!-- Adding New Ryon -->
        <div class="container mt-4">
            <h2 class="text-center text-muted mt-4">Ryon Editing</h2>
            <form action="/editRyon/<%= productId %>" method="POST">
                <div class="form-group">
                    <label for="pictureUrl">Ryon Picture:</label>
                    <input type="text" class="form-control" id="picture" placeholder="Enter Picture of ryon" name="image">
                </div>

                <div class="form-group">
                    <label for="name">Ryon Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name of ryon" name="name">
                </div>

                <input type="submit" class="btn btn-default border w-100" value="Edit">
            </form>
        </div>

        <script src="../js/controller.js"></script>
    </body>
</html>