<html>
    <head>
        <title>Products</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container mt-4">
            <div class="row">
                <!-- Card 1 -->
                <div class="col-md-4 col-lg-4 mt-4">

                    <div class="card" style="height: 402px;">
                        <img class="card-img-top w-100 h-75" src="../img/products/fruits/apple.jpeg" alt="Apple">
                        <div class="card-body">
                          <h2 class="card-title text-center text-muted">Apple</h2>
                          <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                          <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-4 col-lg-4 mt-4">
                    <div class="card" style="height: 402px;">
                        <img class="card-img-top w-100 h-75" src="../img/products/fruits/k.png" alt="Kiwi">
                        <div class="card-body">
                          <h2 class="card-title text-center text-muted">Kiwi</h2>
                          <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                          <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                        </div>
                      </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-4 col-lg-4 mt-4">
                    <div class="card" style="height: 402px;">
                        <img class="card-img-top w-100 h-75" src="../img/products/fruits/an.png" alt="An">
                        <div class="card-body">
                          <h2 class="card-title text-center text-muted">Anans</h2>
                          <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                          <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                        </div>
                      </div>
                </div>

            </div>
        </div>
    </body>
</html>